<section class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="col col-12">
                    <h1 class="text-center">Our library</h1>
                </div>
                <div class="col col-12">
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-6">
                <form action="" method="get">
                    <%- include('_search_fields') %>
                </form>
            </div>
        </div>
        <div class="row">
            <%- include('_filters.ejs') %>    
        </div>
    </div>
</section>
<section class="published">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center">Recently added</h3>
            </div>
            <div class="row d-flex justify-content-start">
                <% books.forEach(book => { %>
                    <a href="" class="recentlyAddedCardsAnchor">
                        <div class="card" style="width: 7rem;">
                            <img src="<%= book.coverImagePath %>" class="card-img-top pt-1" alt="...">
                            <div class="card-body pt-1">
                                <p class="card-title"><strong><%= book.title %></strong></p>
                                <p class="card-text"><%= book.genre %></p>
                            </div>
                        </div>
                    </a>
                <% }) %>
            </div>
            
        </div>
    </div>
</section>
<section>
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <% books.forEach(book => { %>
                <div class="card" style="width: 18rem;">
                    <img src="<%= book.coverImagePath %>" class="card-img-top pt-1" alt="...">
                    <div class="card-body">
                    <h5 class="card-title"><%= book.title %></h5>
                    <p class="card-text"><%= book.author %></p>
                    <p class="card-text"><%= book.description %></p>
                    <div class="col-12 d-flex justify-content-center mt-2 px-0">
                        <a href=""class="btn " type="GET" id="viewAuthor">Feedbacks</a> 
                        <a href="" class="btn btn-warning mx-3"type="GET" id="editAuthor">Edit</a> 
                        <button class="btn btn-danger" type="submit" id="deleteAuthor">Delete</button>
                    </div>
                    </div>
                </div>    
            <% }) %>
        </div>
    </div>
</section>
