<section class="sectionShowBook">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3><%= book.title %></h3>
            </div>
            <div class="row ">
                <div class="col-lg-2 pl-0 pb-2">
                    <img width="150px" src="<%= book.coverImagePath %>" alt="">
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col">
                            <p>Author: <%= book.author.name %></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>Genre: <%= book.genre %></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>Publish date: <%= book.publishDate.toDateString() %></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>Page count: <%= book.pageCount %></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>Description: <%= book.description %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-1 d-inline-flex p-0">
                <a class="btn btn-warning mr-3" href="/books/<%= book.id %>/edit">Edit</a>
                <%- include('../partials/deleteForm.ejs', {url: `/books/${book.id}`}) %>
            </div>
        </div>
        <div class="row">
            <div class="col p-0 mt-1">
                <a class="btn btn-lg btn-info" href="/authors/<%= book.author.id %>">View Author</a>
            </div>
        </div>
    </div>
</section>
<section class="feedbacks mt-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="text-center">feedbacks</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-9 d-flex justify-content-end">
                <p>Rating</p>
            </div>
            <div class="col-3">
                <!-- stars rating -->
                <span></span>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <% book.comments.forEach(function(comment) { %>
            <div class="row">
                <div class="col">
                    <h5><%= comment.user %></h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span><%= comment.rating %>/5</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p><%= comment.text %></p>
                </div>
            </div>
        <% }) %>
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="/books/<%= book.id %>" method="post" class="commentBookForm">
                    <%- include('../partials/comments.ejs', {comment: {}}) %>

                </form>
            </div>
        </div>
    </div>

</section>