<body>
    <section class="main">
        <div class="container mt-5">
            <div class="row">
                <div class="col text-center">
                    <h1>Our library</h1>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni,
                         laudantium autem adipisci maxime minus sint doloremque iusto veniam soluta ullam.
                         Similique fuga iusto quae eum inventore cumque quo laudantium quidem?</p>
                    <p>Everybody can add new authors and books by himself.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="recentlyadded">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="">Recently added books</h3>
                </div>
                <div class="row d-flex justify-content-start">
                    <% books.forEach(book => { %>
                        <a href="/books/<%= book.id %>" class="text-reset text-decoration-none">
                            <div class="card" style="width: 7rem;">
                                <img src="<%= book.coverImagePath %>" class="card-img-top pt-0" alt="...">
                                <div class="card-body pt-1">
                                    <p class="card-title"><b><%= book.title %></b></p>
                                    <p class="card-text"><%= book.genre %></p>
                                </div>
                            </div>
                        </a>
                    <% }) %>
                </div>   
            </div>
            <div class="row mt-5">
                <div class="col"><h3>Recently added authors</h3>
                </div>
            </div>
            <div class="row">
                <% authors.forEach(author => { %>
                    <div class="col-2 d-flex mt-2">
                        <a href="/authors/<%= author.id %>" class="text-reset text-decoration-none"><p><%= author.name %></p></a>
                    </div>
                <% }) %>
            </div>
        </div>       
    </section>
</body>