<section class="seactionTitle mt-5">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2><%= author.name%></h2>
            </div>
        </div>
    </div>
</section>

<section class="sectionViewAuthor">
    <div class="container">
        <div class="row my-5">
            <div class="col-11 d-flex justify-content-end">
                <a href="/authors/<%= author.id %>/edit" class="btn btn-warning"> Edit</a>
            </div>
            <div class="col-1">
                <%- include('../partials/deleteForm.ejs', {url: `/authors/${author.id}`}) %>
            </div>
        </div>
        <% if(booksByAuthor.length > 0) { %>
        <div class="row">   
            <div class="col text-center">
                <h2>Books by author</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-start mt-4">
            <% booksByAuthor.forEach(book => { %>
                <a href="/books/<%= book.id %>" class="text-reset text-decoration-none">
                    <div class="card" style="width: 15rem;">
                        <img src="<%= book.coverImagePath %>" class="card-img-top pt-0">
                        <div class="card-body pt-1">
                            <p class="card-title"><b><%= book.title %></b></p>
                        </div>
                    </div>
                </a>
            <% }) %>
        </div>
        <% } %> 
    </div>
</section>
    